<?xml version="1.0" ?>
<robot name="pinusbruita">
  <link name="baseLink">
    <inertial>
      <mass value="0.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="trunk.obj" scale="1 1 1"/>
      </geometry>
      <material name="brown">
        <color rgba="0.4 0.2 0.1 1.0"/>
      </material>
    </visual>
  </link>

  <link name="leafLink">
    <inertial>
      <mass value="0.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="leaves.obj" scale="1 1 1"/>
      </geometry>
      <material name="green">
        <color rgba="0.1 0.5 0.1 1.0"/>
      </material>
    </visual>
  </link>

  <joint name="trunk_to_leaves" type="fixed">
    <parent link="baseLink"/>
    <child link="leafLink"/>
    <origin xyz="0 0 0"/>
  </joint>
</robot>