<?xml version="1.0" ?>
<robot name="bush">
  <link name="baseLink">

    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.0"/> 
      <geometry>
        <mesh filename="bush.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.0"/> 
      <geometry>
        <mesh filename="bush.obj" scale="1 1 1"/>
        
        </geometry>
    </collision>
  </link>
</robot>